

/* fonts */

.sora-normal {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Common and shared styles */
.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    color: white;
    border: none;
}
.text-secondary{
    color: #252432;
}




/* header */

.header{
    background-image: url(../Assets/Hero-bg.png);
    
}
/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

.nav-title{
    font-weight: bold;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}

nav ul li{
    list-style: none;

}

nav li a{
    text-decoration: none;
}

/* Banner styles */

.banner{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  margin: 310px 267px 237px 267px;
    
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
}





/* action styles */

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 150px;
    
}

.action-content{
    padding: 62px 220px 62px 0;
}

.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    font-weight: 400;
    font-size: 24px;
    margin-top: 24px;
}
.action-img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}



/* productive user styles */
.productive-user-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    text-align: center;
}
.productive-user-bg-color{
    background-color: #4E47FF;
    margin: 0 auto;
}
.productive-user{
    border-radius: 24px;
    margin: 116px 124px 137px 141px;
    padding: 50px 80px;
}

.productive-user-items{
    display: flex;
    justify-content: space-around;
    
}
.productive-user-item-title{
    font-weight: bold;
    font-size: 80px;
}
.productive-user-item-subtitle{
    font-weight: 400px;
    font-size: 20px;
}

/* get-in-touch styles */

.get-in-touch{
    margin: 92px 150px 14px 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    
}
.get-in-touch-left{
    font-size: 57px;
    font-weight: bold;
    
}
.get-in-touch-right input[type="email"],
.get-in-touch-right input[type="text"],
.get-in-touch-right textarea {
    height: 70px;
    border-radius: 10px;
    background-color: #fff;
    display: block;
    width: 497px;
    padding: 20px 32px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 19px;
    
}

/* footer styles */

.footer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 100vh; 
}

.footer-description{
    width: 531px;
    height: 48px;
    font-weight: 400px;
    font-size: 16px;
    color: #8987A1;
}

.footer-title{
    font-weight: 800px;
    font-size: 100px;
    color: rgba(78, 71, 255, 1);
}


footer ul li{
    list-style-type: none;
}

footer li a{
    text-decoration: none;
}
 .footer-links ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 48px;
}
